*{
    padding: 0;
    margin: 0;
}
form{
    margin: 0 auto;
    margin-top: 30px;
    border: 2px black solid;
    width: 350px;
    height: 200px;
    padding: 10px;
}
#ngaysinh {
    float: left;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
input{
    float: left;
    width: 200px;
    height: 35px;
    margin: 5px;
}
#cung {
    float: left;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
div{
    width: 350px;
    height: 30px;
    clear: both;
}
#xoa{
    float: right;
    width: 50px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
#xem{
    float: right;
    width: 50px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}